@using Azure.Core;
@model AspNetCore.Data.Models.Meeting

@{
    var meetingLink = Url.ActionLink("MeetingDetails", "Meeting", new { id = Model.Id });
    var inviteLink = Url.ActionLink("Join", "Home", new { id = Model.Id });
}


<a href="@inviteLink">

    <h1 class="fw-bold">@Model.Name - Click to join</h1>

</a>


<p class="mb-0">@meetingLink</p>
<p class="smalltext">Share this link with your friends so they can join in the fun</p>

<h2 class="mb-0">Users</h2>
@foreach (var user in Model.Users)
{
    <span>@user.UserName, </span>
}

<h2 class="mb-0">Overlapping Free Time</h2>

<div id="TablePanel" class="row">

    <table id="TimeTable" class="mb-4">

        <thead>
            <tr>
                <th>
                    Monday
                </th>
                <th>
                    Tuesday
                </th>
                <th>
                    Wednesday
                </th>
                <th>
                    Thursday
                </th>
                <th>
                    Friday
                </th>
                <th>
                    Saturday
                </th>
                <th>
                    Sunday
                </th>
            </tr>
        </thead>

    </table>

</div>

@section Scripts {

    <script>

        var meetingId = '@Html.Raw(Model.Id)';

        StartHour = 7;
        EndHour = 21;

        for (let i = StartHour; i <= EndHour; i++) {

            var row = document.createElement("tr");

            Days.forEach(function (day) {

                var td = document.createElement("td");
                var text = document.createTextNode(numberToTime(i) + " - " + numberToTime(i+1));

                td.setAttribute("day", day.Number);
                td.setAttribute("hour", i);

                td.appendChild(text);
                row.appendChild(td);

            });

            var table = document.querySelector("#TimeTable");
            table.appendChild(row);

        }

        function numberToTime(number) {

            let numStr = String(number);
            while (numStr.length < 2) {
                numStr = "0" + numStr;
            }
            return numStr + "00";

        }

        $.ajax({
            url: "/Meeting/FindOverlappingTimes/" + meetingId

        }).done(function (data) {

            data.forEach(function (block) {

                var matchingCell = $('td[day="' + block.Day + '"][hour="' + block.Hour + '"]');
                matchingCell.addClass('selected-block');

            })



        });

    </script>
}