@model AspNetCore.Data.Models.Meeting

@{
    var meetingLink = "https://localhost:44349/Meeting/MeetingDetails/" + Model.Id;
    var inviteLink = "https://localhost:44349/Home/Join/" + Model.Id;
}


<a href="@inviteLink">

    <h1 class="fw-bold">@Model.Name - Click to join in</h1>

</a>


<h2 class="mb-0">@meetingLink</h2>
<p class="smalltext">Share this link with your friends so they can join</p>

<h2 class="mb-0">Users</h2>
@foreach (var user in Model.Users)
{
    <span class="smalltext">@user.UserName, </span>
}

<h2>Possible Meeting Times</h2>
<span id="MeetingTimeText"></span>

@section Scripts {

    <script>

        var meetingId = '@Html.Raw(Model.Id)';

        $.ajax({
            url: "/Meeting/FindMeetingTime/" + meetingId

        }).done(function (data) {

            console.log(data);

            $("#MeetingTimeText").text(data.Day + " " + data.Block);


        });

    </script>
}